[tool.poetry]
name = "slskit"
version = "2020.9.0"
authors = ["Gediminas Zlatkus <gediminas.zlatkus@gmail.com>"]
description = "Tools for checking Salt state validity"
readme = "README.md"
homepage = "https://github.com/gediminasz/slskit"
repository = "https://github.com/gediminasz/slskit"
keywords = ["salt", "saltstack", "sls"]
classifiers = ["Topic :: Software Development :: Quality Assurance"]

[tool.poetry.dependencies]
python = "3.7.* || 3.8.*"
click = "^7.1.2"
colorlog = "^4.7.2"
funcy = "^1.15"
jsonschema = "^3.2.0"
salt = "^3001"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
GitPython = "^3.1.14"
mypy = "^0.812"
prospector = "^1.3.1"
pytest = "^6.2.2"
pytest-snapshot = "^0.5.0"

[tool.poetry.scripts]
slskit = 'slskit:run_module'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
