name: CI

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12.5", "3.12"]
        salt-version: ["3006.*", "3007.*"]
        exclude:
          - python-version: "3.12"
          - python-version: "3.12.5"
            salt-version: "3006.*"
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          pip install --upgrade pip poetry
          poetry add 'salt==${{ matrix.salt-version }}'
          poetry install
      - name: Report versions
        run: |
          pip --version
          poetry --version
          poetry run pip --version
          poetry run salt --versions
      - name: Test
        run: |
          make all
